html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

div.body {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Navbar */
nav {
    background-color: #3b4e69;
}

nav ul {
    display: flex;

}

nav ul li {
    font-size: 18px;
    padding-left: 40px;
}

nav ul li a {
    color: #E5E7EB;
    font-weight: 600;
}

nav ul li a:hover {
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

div.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

div.logo span {
    font-size: 50px;
    margin-right: 10px;
}

/* header */
header {
    background-color: #1F2937;
    padding: 48px 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 55%;
}

.hero img {
    width: 40%;

}

.hero-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 16px;
}

.hero-text p {
    color: #E5E7EB;
    font-size: 24px;
}

.hero-link {
    border: 1px solid #1F2937;
    border-radius: 15px 0 15px 0;
    width: 140px;
    height: 25px;
    background-color: #3882F6;
    margin-top: 24px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-link a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}