html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

div.body {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Navbar */
nav {
    background-color: #3b4e69;
}

nav ul {
    display: flex;

}

nav ul li {
    font-size: 18px;
    padding-left: 40px;
}

nav ul li a {
    color: #E5E7EB;
    font-weight: 600;
}

nav ul li a:hover {
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

div.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

div.logo span {
    font-size: 50px;
    margin-right: 10px;
}

/* header */
header {
    background-color: #1F2937;
    padding: 40px 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 55%;
}

.hero img {
    width: 40%;

}

.hero-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 16px;
}

.hero-text p {
    color: #E5E7EB;
    font-size: 24px;
}

.hero-link, .listing-btn {
    border: 1px solid #3882F6;
    border-radius: 15px 0 15px 0;
    width: 140px;
    height: 25px;
    background-color: #3882F6;
    margin-top: 24px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-link a, .listing-btn a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

/* Stats section */

section.stats {
    background-color: #E5E7EB;
    padding: 40px 0;
}

.counter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    flex: 2;
}

.counter-item h1 {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #3882F6;
}

.counter-item p {
    font-size: 18px;
    font-weight: 600;
}

/* About section */
section#about {
    padding: 40px 0;
}

div.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.about-text {
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
}

.about-text h2 {
    color: #3882F6;
    font-size: 36px;
    font-weight: bolder;
}

.about-text h3 {
    color: #1F2937;
    font-size: 30px;
    font-weight: bolder;
}

div.about-grid {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.about-grid .card {
    text-align: center;
    border: 2px solid #c4d6f3;
    border-radius: 15px 0 15px 0;
    padding: 30px 15px;
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card span {
    color: #3882F6;
    font-size: 64px;
    margin-bottom: 10px;
}

.card h4 {
    color: #1F2937;
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    color: #1F2937;
    font-size: 18px;
}

/* Listing section */
section#listing {
    padding: 40px 0;
    background-color: #1F2937;
}

div.listing {
    display: flex;
    justify-content: space-between;
}

div.listing-text, div.listing-grid {
    width: 45%;
}

div.listing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAF8;
}

.listing-text h2 {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 24px;
}

.listing-text p {
    color: #F9FAF8;
    font-size: 18px;
    line-height: 1.5;
}

div.listing-grid {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.listing-grid .card {
    text-align: center;
    border: 2px solid #E5E7EB;
    border-radius: 15px 0 15px 0;
    padding: 30px 15px;
    flex: 1 1 200px;
    background-color: #E5E7EB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.listing-grid .card span {
    color: #5075a8;
}

/* Featured section */
section#featured {
    padding: 40px 0;
    background-color: #F9FAF8;
}

div.featured {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div.featured-text {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

div.featured-text h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 24px;
}

div.featured-text p {
    color: #1F2937;
    font-size: 18px;
    line-height: 1.5;
}

div.property-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

div.property {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E5E7EB;
    min-width: 300px;
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.property-info {
    padding: 24px;
    color: #1F2937;
    text-align: center;
}

div.property-info h4 {
    font-size: 22px;
}

div.property-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    gap: 10px;
}

div.property-info p span {
    color: #3882F6;
}

/* Quote section */
section.blockquote {
    background-color: #E5E7EB;
}

div.quote {
    padding: 100px 0;
}

.quote blockquote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quote cite {
    align-self: flex-end;
    font-weight: bold;
}

/* CTA section */
section#contact {
    padding: 40px 0;
}

div.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: #3882F6;
    padding: 50px 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.cta-header {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

div.cta-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    position: relative;
}

div.cta-body p {
    color: #fff;
    font-size: 18px;
}

div.cta-body .email-field {
    width: 70%;
}

div.cta-body input {
    padding: 12px 20px;
    font-size: 18px;
    border: 1px solid #E5E7EB;
    border-radius: 15px 0 15px 0;
    width: 100%;
    outline: none;
}

.cta-body button {
    border: 1px solid #E5E7EB;
    border-radius: 15px 0 15px 0;
    font-size: 16px;
    padding: 10px 18px;
    background-color: #1F2937;
    color: #F9FAF8;
    position: absolute;
    top: 4px;
    right: 4px;
}

/* Footer section */
footer {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

div.footer {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

div.brand {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    color: #1F2937;
}

div.brand div.footer-logo {
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    /* align-items: center; */
}

div.brand div.footer-logo span {
    font-size: 50px;
    margin-right: 10px;
}

.brand p {
    font-size: 18px;
    line-height: 1.5;
}

.brand .footer-address {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.brand .footer-address li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand .footer-address li h4 {
    font-weight: normal;
    line-height: 1.5;
}

.brand .footer-address li span {
    color: #3882F6;
}

.brand .footer-social {
    display: flex;
    justify-content: space-evenly;
}

.brand .footer-social a {
    color: #65686d;
    font-size: 14px;
}

div.links {
    display: flex;
    justify-content: space-between;
    
    gap: 20px;
    flex: 2;
    color: #1F2937
}

div.links h4 {
    font-size: 20px;
}

div.links ul {
    padding-top: 16px;
}

div.links li {
    padding: 8px 0;
}

div.links a {
    color: #1F2937;
}

/* Copyright section */
div.copyright {
    text-align: center;
    background-color: #1F2937;
    padding: 30px 0;
    color: #FFF;
    font-size: 18px;
}

